<% if params[:query].blank? && params[:category].blank? %>
  <div class="show-page-images mobile-none">
    <div id="show-page-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
          <% @posts.first(5).each_with_index do |post, index| %>
          <div class="carousel-item <%= 'active' if index == 0  %>">
            <% if post.photo.attached? %>
              <%= cl_image_tag post.photo.key, class:"d-block w-100"%>
            <% else %>
              <%= image_tag("cupcake.png") %>
            <% end %>
            <div class="carousel-caption d-none d-md-block">
              <h2><%= link_to post.title.upcase, post_path(post) %></h2>
              <p><%= post.tagline %></p>
            </div>
          </div>
        <% end %>
          <a class="carousel-control-prev" href="#show-page-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#show-page-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>
    </div>
  </div>
<% end %>

  <div class="container mt-3">
    <% @posts.each_with_index do |post, index| %>
     <% if index.even? %>
      <div class="card-product card-product-left my-3">
        <% if post.photo.attached? %>
          <%= cl_image_tag post.photo.key %>
          <% else %>
          <%= image_tag("cupcake.png") %>
        <% end %>
        <div class="card-product-infos text-center">
          <h6><%= post.category %></h6>
          <h2><%= link_to post.title.upcase, post_path(post) %></h2>
          <h6><%= post.created_at.strftime('%b %d, %Y') %></h6>
          <p><%= post.tagline %></p>

          <%= link_to "View Post", post_path(post), class:"read-more my-2" %>
        </div>
      </div>
      <% else %>
        <div class="card-product card-product-right my-3">
          <% if post.photo.attached? %>
            <%= cl_image_tag post.photo.key %>
            <% else %>
            <%= image_tag("cupcake.png") %>
          <% end %>
          <div class="card-product-infos text-center">
            <h6><%= post.category %></h6>
            <h2><%= link_to post.title.upcase, post_path(post) %></h2>
            <h6><%= post.created_at.strftime('%b %d, %Y') %></h6>
            <p><%= post.tagline %></p>

            <%= link_to "View Post", post_path(post), class:"read-more my-2" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

