<div class="blog-content container">
  <div class="blog-left">
    <div class="text-center container mt-5">
      <h2 class=" my-3"><%= @post.title %></h2>
      <div class="top-image">
        <% if @post.photo.attached? %>
          <%= cl_image_tag @post.photo.key %>
          <% else %>
            <%= image_tag("cupcake.png") %>
        <% end %>
      </div>
      <div class="d-flex justify-content-center my-3">
        <% if admin_signed_in? %>
          <%= link_to "Edit", edit_post_path(@post), class: "btn btn-light mr-2" %>
          <%= link_to "Delete", post_path(@post), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
        <% end %>
      </div>
      <div><%= raw @post.body %></div>
    </div>
      <!--recipe card-->
      <% if @post.servings.present? %>
        <div class="recipe-card container mt-5">
          <div class="recipe-card-image text-center mt-4">
            <% if @post.photo.attached? %>
              <%= cl_image_tag @post.photo.key %>
              <% else %>
                <%= image_tag("cupcake.png") %>
            <% end %>
          </div>
          <h2 class="text-center mt-3"><%= @post.title %></h2>
          <div class="stats my-3">
            <div class="servings">
              <%= image_tag("servings.png", size: "50") %>
              <p><%= @post.servings %></p>
              <h6>Servings</h6>
            </div>
            <div class="preptime">
              <%= image_tag("prep.png", size: "50") %>
              <p><%= @post.preptime %></p>
              <h6>Preparation Time</h6>
            </div>
            <div class="cooktime">
              <%= image_tag("cook.png", size: "50") %>
              <p><%= @post.cooktime %></p>
              <h6>Cooking Time</h6>
            </div>
          </div>
          <div class="ingredients container">
            <h3>Ingredients</h3>
            <ul>
              <% for @ingredient in @post.ingredients %>
              <li><%= @ingredient.name %></li>
              <% end %>
            </ul>
          </div>
          <div class="method container mt-3">
            <h3>Method</h3>
            <ol>
              <% for @direction in @post.directions %>
              <li><%= @direction.body %></li>
              <% end %>
            </ol>
          </div>
        </div>
      <% end %>
      <div class="next-previous">
        <div class="previous">
          <h5>
            <% if @post.prev %>
              <%= link_to "< Previous Post", @post.prev %>
            <% end %>
          </h5>
        </div>
        <div class="next">
          <h5>
            <% if @post.next %>
              <%= link_to "Next Post >", @post.next %>
            <% end %>
          </h5>
        </div>
      </div>
  </div>

  <div class="blog-right ml-3">
    <div class="search text-center mt-5">
      <h5>SEARCH</h5>
      <%= form_tag posts_path, class: "form-inline justify-content-center", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a recipe"
        %>
        <%= submit_tag "Search", class: "btn btn-light ml-2 mobile-none" %>
      <% end %>
    </div>

<!-- <div class="instagram text-center mt-5">
      <h5>INSTAGRAM</h5>
    </div> -->
    <div class="instagram text-center mt-5">
      <h5>SOCIALS</h5>
      <div class="socials-links justify-content-center">
        <a href="https://www.instagram.com/hannahshomemades_/"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
      </div>
    </div>

    <div class="popular text-center mt-5">
      <h5>POPULAR POSTS</h5>
      <% @posts.first(3).each do |post| %>
        <div class="popular-card">
          <% if post.photo.attached? %>
            <%= cl_image_tag post.photo.key %>
            <% else %>
              <%= image_tag("cupcake.png") %>
          <% end %>
          <h6 class="mt-2"><%= link_to post.title.upcase, post_path(post) %></h6>
        </div>
      <% end %>
    </div>

  </div>
</div>
