<div class="col-xs-12 blog-content container mt-3">
  <h2 class="text-center"><%= @post.title %></h2>
  <h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
  <div><%= raw @post.body %></div>
  <div class="d-flex justify-content-end mt-3">
    <% if admin_signed_in? %>
      <%= link_to "Edit", edit_post_path(@post), class: "btn btn-light mr-2" %>
      <%= link_to "Delete", post_path(@post), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
    <% end %>
  </div>
</div>
