<div class="col-xs-12 blog-content text-center container mt-3">
  <h2 class=" my-5"><%= @post.title %></h2>
  <div class="top-image">
    <% if @post.photo.attached? %>
      <%= cl_image_tag @post.photo.key %>
      <% else %>
        <%= image_tag("cupcake.png") %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center my-3">
    <% if admin_signed_in? %>
      <%= link_to "Edit", edit_post_path(@post), class: "btn btn-light mr-2" %>
      <%= link_to "Delete", post_path(@post), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
    <% end %>
  </div>
  <div><%= raw @post.body %></div>
</div>

  <!--recipe card-->
  <div class="recipe-card container mt-5">
    <div class="recipe-card-image mt-4">
      <% if @post.photo.attached? %>
        <%= cl_image_tag @post.photo.key %>
        <% else %>
          <%= image_tag("cupcake.png") %>
      <% end %>
    </div>
    <h2 class="text-center mt-3"><%= @post.title %></h2>
    <div class="stats my-3">
      <div class="servings">
        <%= image_tag("servings.png", size: "50") %>
        <p><%= @post.servings %></p>
        <h6>Servings</h6>
      </div>
      <div class="preptime">
        <%= image_tag("prep.png", size: "50") %>
        <p><%= @post.preptime %></p>
        <h6>Preparation Time</h6>
      </div>
      <div class="cooktime">
        <%= image_tag("cook.png", size: "50") %>
        <p><%= @post.cooktime %></p>
        <h6>Cooking Time</h6>
      </div>
    </div>
    <div class="ingredients container">
      <h3>Ingredients</h3>
      <ul>
        <% for @ingredient in @post.ingredients %>
        <li><%= @ingredient.name %></li>
        <% end %>
      </ul>
    </div>
    <div class="method container mt-3">
      <h3>Method</h3>
      <ol>
        <% for @direction in @post.directions %>
        <li><%= @direction.body %></li>
        <% end %>
      </ol>
    </div>
</div>
